*{
    margin:0;
    padding:0;
    text-align: center;
}
body{
    background-color: rgb(11, 1, 20);
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 3rem;
    line-height: 3rem;
}
.choice{
    height: 70px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    margin-left: 8rem;
    font-size: 2rem;
    color: #c59c9c;
    
   
}
#user-score{
    font-size: 3rem;
    
}

#comp-score{
    font-size: 3rem;
    margin-top: -32px;
    
}
.msg-container{
    margin-top: 7rem;
}
#msg{
    background-color: #06572e;
    color: #fff;
    font-size: 30px;
    display:inline;
    padding: 1rem;
    border-radius: 2rem;
    position: absolute;
    top: 380px; /* Moves it down from the top */
    left: 387px;
}
#backButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5e0a0a; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 390px; /* Moves it down from the top */
    left: 153px;
}

#backButton:hover {
    background-color: #45a049; /* Darker green on hover */
}
